{% extends 'base.html.twig' %}

{% block title %}Ingredient index{% endblock %}

{% block body %}
    <h1>Ingredient index</h1>

     <a href={{path('admin_ingredient_new')}} class="btn btn-success m-4">Create new</a>

    <table class="table table-striped-columns">
        <thead>
            <tr>
               
                <th> Ingredient</th>
                <th>Price</th>
                <th>CreateAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.price }}</td>
                <td>{{ ingredient.createAt ? ingredient.createAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_ingredient_show', {'id': ingredient.id}) }}" class="btn btn-primary" >show</a>
                    <a href="{{ path('admin_ingredient_edit', {'id': ingredient.id}) }}"  class="btn btn-danger">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
{% endblock %}