
{% extends 'base.html.twig' %}

{% block title %}Ingredient{% endblock %}

{% block body %}
    <h1>Ingredient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Ingredient</th>
                <td>{{ ingredient.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ ingredient.price }}</td>
            </tr>
            <tr>
                <th>CreateAt</th>
                <td>{{ ingredient.createAt ? ingredient.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_ingredient_index') }}" class="btn btn-warning">back to list</a>

    <a href="{{ path('admin_ingredient_edit', {'slug': ingredient.slug}) }}" class="btn btn-info">edit</a>

    {# {{ include('admin/ingredient/delete_form.html.twig') }} #}
{% endblock %}
