{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!
{% endblock %}

{% block body %}
	<h1>Recettes</h1>
	<table class='table table-striped-columns'>

		<thead class="thead-dark">
			<th  scope="col">Nom</th>
			<th  scope="col">Description</th>
			<th  scope="col">Prix</th>
			<th  scope="col">Temps de préparation</th>
			<th  scope="col">Nombre de personnes</th>
			<th  scope="col">Niveau de difficulté</th>
			<th  scope="col">Date de création</th>
			<th  scope="col">Modifier</th>
			<th  scope="col">Supprimer</th>
		</thead>
         <a href={{path('admin_recette_new')}} class="btn btn-success m-4">Create new</a>
		{% for recette in recipes %}

			<tr scope="row">
				<td>
					<a href="{{path("admin_recette_show",{slug:recette.slug})}}">{{recette.name}}</a>
				</td>
				<td>{{recette.description }}</td>
				<td>{{recette.price }}</td>
				<td>{{recette.temps }}</td>
				<td>{{recette.personnes }}</td>
				<td>{{recette.difficulty }}</td>
				<td>{{recette.createdAt | date("d/m/Y")}}</td>
				<td>
					<a href="{{path('admin_recette_edit',{slug:recette.slug})}}" class='btn btn-primary'>Modidier</a>
				</td>
				<td>
					<form action="{{path('admin_recette_delete', { 'slug': recette.slug}) }}" method="POST">
						<input type="hidden" name='_method' value='DELETE'>
						<button type="submit" class="btn btn-danger">Supprimer</button>
					</form>
				</td>

			</tr>
		{% endfor %}
	</table>
{% endblock %}
