{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!
{% endblock %}

{% block body %}
	<h1>Recettes</h1>
	<table class='table table-striped'>

		<thead>
			<th>Nom</th>
			<th>Description</th>
			<th>Prix</th>
			<th>Temps de préparation</th>
			<th>Nombre de personnes</th>
			<th>Niveau de difficulté</th>
			<th>Date de création</th>
			<th>Modifier</th>
			<th>Supprimer</th>
		</thead>
         <a href={{path('admin_recette_new')}} class="btn btn-success m-4">Create new</a>
		{% for recette in recipes %}
			<tr>
				<td>
					<a href="{{path("admin_recette_show",{id:recette.id})}}">{{recette.name}}</a>
				</td>
				<td>{{recette.description }}</td>
				<td>{{recette.price }}</td>
				<td>{{recette.temps }}</td>
				<td>{{recette.personnes }}</td>
				<td>{{recette.difficulty }}</td>
				<td>{{recette.createdAt | date("d/m/Y")}}</td>
				<td>
					<a href="{{path('admin_recette_edit',{id:recette.id})}}" class='btn btn-primary'>Modidier</a>
				</td>
				<td>
					<form action="{{path('admin_recette_delete', { 'id': recette.id }) }}" method="POST">
						<input type="hidden" name='_method' value='DELETE'>
						<button type="submit" class="btn btn-danger">Supprimer</button>
					</form>
				</td>

			</tr>
		{% endfor %}
	</table>
{% endblock %}
